.row{
    display:flex;
    flex-wrap:nowrap;
}
ul{
    list-style: none;
}.footer{
    margin-left: auto;
    background: #24262b;
    padding: 70px 0;
    
}
.footer-col{
    width: 25%;
    height: 140px;
    padding: 0 10px;
}
.footer-col h4{
    cursor: default;
    font-size: 13.5pt;
    font-weight: normal;
    color: rgb(89, 87, 177);
    padding-bottom: 10px;

}

.footer-col ul a
{
    font-size:25px;
    color:rgb(89, 87, 177);
}
.footer-col ul i{
    font-size:35px;
    color:rgb(89, 87, 177);
}
.footer-col ul span{
    cursor:pointer;
    font-size:35px;
    font-weight:bold;
    color:white;
}
.footer-col ul span:hover{
    color:rgb(89, 87, 177);
}
.map ul a{
    margin-left: 10px;
    font-size: 15px;
    color:white;
}
.footer-col .mail ul i{
    padding-top: 20px;
    
    font-size:25px;
}
.footer-col .mail span{
    
    padding-left: 15px;;
    font-size: 13px;
    font-weight: normal;
}
.footer-col .map ul i{
    padding-top:30px;
    font-size: 25px;
}
.footer-col .map span{
    font-weight: normal;
    font-size:13px;
    margin-left: 30px;
    margin-top: auto;
    margin-bottom: auto;
    color:white;
    
}
.footer-col ul li a{
    line-height: 1.6;
    font-size:11pt;
    text-decoration: none;
    color:white;
    
}
.footer-col ul li a:hover{
    color:rgb(89, 87, 177);
}
.footer .social-links a,
.footer .social-links i{
    margin-left: 0.5rem;
    text-align: center;
    font-size: 2.4rem;
    height: 35px;
    width: 45px;
    color:white;
    border-radius:50%;
    
}
.navbar .feed{
    cursor:pointer;
}





@media (max-width:991px){
    footer{
        padding: 1rem 2rem;
    }

}

@media (max-width:768px){
    .footer{
        background: #24262b;
        padding: 50px 0;
    }
    .footer-col h4{
        cursor: default;
        font-size: 11.5pt;
        font-weight: normal;
        color: rgb(89, 87, 177);
        padding-bottom: 10px;
    }
    .footer-col ul a
{
    font-size:25px;
    color:rgb(89, 87, 177);
}
.footer-col ul i{
    font-size:25px;
    color:rgb(89, 87, 177);
}
.footer-col ul span{
    cursor:pointer;
    font-size:20px;
    font-weight:bold;
    color:white;
}

.map ul a{
    margin-left: 10px;
    font-size: 15px;
    color:white;
}
.footer-col .mail ul i{
    padding-top: 20px;
    
    font-size:25px;
}
.footer-col .mail span{
    
    padding-left: 3px;
    font-size: 12px;
    font-weight: normal;
}
.footer-col .map ul i{
    padding-top:20px;
    font-size: 20px;
}
.footer-col .map span{
    font-weight: normal;
    font-size:12px;
    margin-left: 15px;
    margin-top: auto;
    margin-bottom: auto;
    color:white;
    
}
.footer-col ul li a{
    line-height: 1.6;
    font-size:12px;
    text-decoration: none;
    color:white;
    
}
}


@media (max-width:1200px){
    html{
        font-size: 50%;

    }
}

@media (max-width: 991px){
    *{
        margin:0;
    padding: 0;
    }
    html{
        font-size: 50%;

    }
    .footer{
        background: #24262b;
        padding: 50px 0;
        width: 100%;
        
    }
    .footer .container{
        background:#24262b;
        width:100%;
        
    }
    .footer-col h4{
        cursor: default;
        font-size: 11.5pt;
        font-weight: normal;
        color: rgb(89, 87, 177);
        padding-bottom: 10px;
    }
    .footer-col ul a
{
    font-size:25px;
    color:rgb(89, 87, 177);
}
.footer-col ul i{
    font-size:25px;
    color:rgb(89, 87, 177);
}
.footer-col ul span{
    cursor:pointer;
    font-size:20px;
    font-weight:bold;
    color:white;
}

.map ul a{
    margin-left: 10px;
    font-size: 15px;
    color:white;
}
.footer-col .mail ul i{
    padding-top: 20px;
    
    font-size:25px;
}
.footer-col .mail span{
    
    padding-left: 3px;
    font-size: 12px;
    font-weight: normal;
}
.footer-col .map ul i{
    padding-top:20px;
    font-size: 20px;
}
.footer-col .map span{
    font-weight: normal;
    font-size:12px;
    margin-left: 15px;
    margin-top: auto;
    margin-bottom: auto;
    color:white;
    
}
.footer-col ul li a{
    line-height: 1.6;
    font-size:12px;
    text-decoration: none;
    color:white;
    
}
}





.navbar .feed{
    cursor:pointer;
  }
  
  
  
  .icon{
    cursor: pointer;
  }
  
  .about{
    height: 100%;
    width: 0;
    position:fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  }
  .about a{
    padding: 60px;
    text-align: right;
    text-decoration: none;
    font-size: 36px;
    color: rgb(89, 87, 177);
    display: block;
    transition: 0.3s;
  }
  .about a:hover, .about a:focus{
    color:#f1f1f1;
  
  }
  .about .closebtn{
    position:abosolute;
    top:20px;
    right:45px;
    font-size: 60px;
    
  }
  .about a .closebtn{
    color:white;
  }
  .about-overlay h1{
    text-align: center;
    color: white;
    font-size: 45px;
  
  }
  .about-overlay p{
    text-align: center;
    font-size: 18px;
    color:white;
  }
  
  
  
  
  
  /*media queries*/
  @media (max-width:991px){
    html{
        font-size: 55%;
    }
    header{
        padding: 1rem 2rem;
    }
    section{
        padding: 1rem 2rem;
    }
    footer{
        padding: 1rem 2rem;
    }
  
  }
  @media (max-width:768px){
    header .icons #menu-bars{
        display: inline-block;
    }
    header .navbar{
        position: absolute;
        top:100%; left:0;right:0;
        background:#fff;
        border-top:.1rem solid rgba(0,0,0,.2);
        border-bottom:.1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0,100% 0,0 0);
  
    }
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0,100% 100%,0% 100%);
    }
    header .navbar a{
        display:block;
        padding:1.5rem;
        margin:1rem;
        font-size:2rem;
        background: #eee;
    }
  }
  
